.wrap {
    box-sizing: border-box;
    min-height: 100%;
}
.container {
    box-sizing : border-box;
    min-height : 100%;
    padding-top: 44px;
}
.header {
    position     : absolute;
    z-index      : 1000;
    top          : 0;
    left         : 0;
    box-sizing   : border-box;
    width        : 100%;
    height       : 44px;
    padding-right: 44px;
    padding-left : 44px;
    text-align   : center;
    background   : #3087e9;
}
.header .page_title {
    font-size    : 24px;
    overflow     : hidden;
    box-sizing   : border-box;
    padding-top  : 10px;
    text-align   : center;
    white-space  : nowrap;
    text-overflow: ellipsis;
    color        : #fff;
}
.btn_header_back {
    position       : relative;
    display        : inline-block;
    width          : 44px;
    height         : 44px;
    border         : none;
    background     : none;
    background-size: 100%;
}
.btn_header_back {
    position       : relative;
    display        : inline-block;
    width          : 44px;
    height         : 44px;
    border         : none;
    background-size: 100%;
}
.header .btn_header_back {
    position: absolute;
    top     : 0;
    left    : 0;
}